*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  height: 100vh;
  background-color: pink;
}

.slide-wrapper{
  position: relative;
  width: 100%;
  height: 80%;
  background-color: plum;
}

.slide-wrapper .images{
  height: 100%;
  text-align: center;
}

.slide-wrapper .images img{
  height: 100%;
}

.prev, .next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
}

.next{
  right: 0;
}

.nav{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 999px;
}

.nav > i{
  font-size: 20px;
  margin: 0 20px;
  color: white;
  cursor: pointer;
}

.nav > i.active{
  color: red;
}
